body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#form-container{
  padding: 1em;
}

#searchButton{
  margin: 1em;
}

#imageContainer{
  background-color: azure;
  border: ridge 4px black;
  height: 50vh;
  width: 50vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  display: none;
}

.img-fluid {
  max-height: 95%;
  max-width: 95%;
  height: auto;
  width: auto;
}
